/node_modules
/public/hot
/public/storage
/public/assets/
/public/css
/public/js
/public/images/

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/debugbar/
mix-manifest.json
/public/vendor/
.DS_Store
/.idea
composer.lock
package-lock.json
supervisord.pid
/reports
/.phpintel
/Modules/*/node_modules
